#override-bootstrap input,
#override-bootstrap textarea {
    min-width: 45%;
    margin-bottom: 0px;
    border: 2px solid #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}

#override-bootstrap input:focus,
#override-bootstrap textarea:focus {
    min-width: 45%;
    margin-bottom: 0px;
    border: 2px solid #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}

#override-bootstrap .error {
    color: red;
}
.settings-btn {
    background-color: rgb(255, 255, 255);
    color: #000000;

    border-radius: 7px;
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold;
    border: 2px solid black;
    margin: 20px;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 23px;
    padding-right: 23px;
    text-decoration: none;
    text-align: center;
}
.settings-btn:hover {
    background-color: black;
    color: white;
}

.settings-btn:focus {
    outline: none;
}

.train-btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 255, 34);;

    border-radius: 7px;
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold;
    border: 2px solid rgb(0, 255, 34);;
    margin: 20px;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 29px;
    padding-right: 29px;
    text-decoration: none;
    text-align: center;
}
.train-btn:hover {
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(0, 255, 34);
    color: white;
}

.train-btn:focus {
    outline: none;
}
.profile-btn {
    background-color: rgb(0, 132, 255);
    color: #fff;

    border-radius: 7px;
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold;
    border: 0;
    margin: 20px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    text-align: center;
}
.profile-btn:hover {
    text-decoration: none;
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #ffffff;
    
}
.profile-btn:focus {
    outline: none;
}