@keyframes showHideDot {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.close {
  cursor: pointer;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.m-option {
  .s-box {
    color: #222222;
    display: inline-block;
    border: 1px solid #bed639;

    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 5px 8px;
    margin: 0 4px 10px 0;
    -webkit-transition: all 0.16s ease-in-out;
    -o-transition: all 0.16s ease-in-out;
    transition: all 0.16s ease-in-out;

    &:hover,
    &.active {
      background-color: #bed639;
      color: #fff;
    }
  }
}

.chats-box {
  // border: solid 2px black;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
  width: 410px;
  display: none;
  position: fixed;
  background-color: white;
  right: 20px;
  bottom: 90px;

  .chatbox-top {
    position: relative;
    background: rgb(6, 186, 223);
    background: -moz-linear-gradient(311deg, rgb(6, 186, 223) 1%, rgb(97, 226, 253) 50%);
    background: -webkit-linear-gradient(311deg, rgb(6, 186, 223) 1%, rgb(97, 226, 253) 50%);
    background: -o-linear-gradient(311deg, rgb(6, 186, 223) 1%, rgb(97, 226, 253) 50%);
    background: -ms-linear-gradient(311deg, rgb(6, 186, 223) 1%, rgb(97, 226, 253) 50%);
    background: linear-gradient(41deg, rgb(6, 186, 223) 1%, rgb(97, 226, 253) 50%);

    .chatbox-profile {
      background: rgb(6, 186, 223);
      background: -moz-linear-gradient(311deg, rgb(6, 186, 223) 1%, rgb(97, 226, 253) 50%);
      background: -webkit-linear-gradient(311deg, rgb(6, 186, 223) 1%, rgb(97, 226, 253) 50%);
      background: -o-linear-gradient(311deg, rgb(6, 186, 223) 1%, rgb(97, 226, 253) 50%);
      background: -ms-linear-gradient(311deg, rgb(6, 186, 223) 1%, rgb(97, 226, 253) 50%);
      background: linear-gradient(41deg, rgb(6, 186, 223) 1%, rgb(97, 226, 253) 50%);
      padding: 22px;
    }

    .g-left {
      float: left;
      width: 90%;

      img {
        padding: 10px;
      }

      .media-left {
        display: table-cell;
        padding-right: 4px;

        .g-circle {
          width: 48px;
          height: 48px;
          background-color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: rgb(190, 214, 57);
          background: -moz-linear-gradient(320deg, rgb(190, 214, 57) 0%, rgb(219, 248, 56) 50%);
          background: -webkit-linear-gradient(320deg, rgb(190, 214, 57) 0%, rgb(219, 248, 56) 50%);
          background: -o-linear-gradient(320deg, rgb(190, 214, 57) 0%, rgb(219, 248, 56) 50%);
          background: -ms-linear-gradient(320deg, rgb(190, 214, 57) 0%, rgb(219, 248, 56) 50%);
          background: linear-gradient(50deg, rgb(190, 214, 57) 0%, rgb(219, 248, 56) 50%);
        }
      }

      .media-right {
        display: table-cell;
        padding-left: 10px;
        vertical-align: middle;

        p {
          font-size: 25px;
          font-weight: 400;
          font-family: "Roboto", sans-serif;
          line-height: 43px;
          color: #fff;
          margin: 0;

          span {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
          }
        }
      }
    }

    .g-right {
      float: left;
      width: 10%;

      .close {
        position: absolute;
        right: 26px;
        top: 16px;
        width: 16px;
        height: 16px;
        opacity: 1;
        text-shadow: none;

        &::before,
        &::after {
          position: absolute;
          left: 15px;
          content: " ";
          height: 21px;
          width: 2px;
          background-color: #fff;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      p {
        text-align: right;
        margin: 0;

        a {
          text-decoration: none;
          color: #fff;
          line-height: 43px;
        }

        i {
          color: #fff;
          font-size: 20px;
          position: relative;
          top: 5px;
        }
      }
    }

    .chatbox-offline {
      padding: 18px 22px 14px;
      padding-top: 5px;

      h3 {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
        margin: 0;
        padding-bottom: 5px;

        img {
          padding-left: 10px;
          vertical-align: text-bottom;
        }
      }

      p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        line-height: 20px;
      }
    }
  }

  .chatbox-body {
    padding: 15px 18px;
    height: 290px;
    overflow-y: scroll;
    overflow-x: hidden;

    background-image: url(../../../assets/images/chat-body.png);
    background-repeat: no-repeat;
    background-size: cover;

    .new-tile {
      .box {
        padding: 15px 0;
        position: relative;

        .media-left {
          display: table-cell;
          padding-right: 8px;

          .circle {
            background-color: #b7b8b8;
            border-radius: 50%;
            height: 53px;
            width: 53px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .media-right {
          display: table-cell;
          vertical-align: middle;
          padding-left: 8px;

          p {
            color: #222222;
            font-family: "Roboto", sans-serif;
            font-weight: 400;

            span {
              font-size: 17px;
              font-weight: 500;
            }
          }
        }

        &::after {
          color: #b7b8b8;
          font: normal normal normal 16px/1 FontAwesome;
          content: "\f103";
          position: absolute;
          left: 22px;
          bottom: -8px;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }

    .chat-conversion {
      .chat-reciever {
        img {
          width: 200px;
          height: 200px;
        }

        .media-left {
          display: table-cell;
          padding-right: 5px;

          .circle {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(190, 214, 57);
            background: -moz-linear-gradient(320deg, rgb(190, 214, 57) 0%, rgb(219, 248, 56) 50%);
            background: -webkit-linear-gradient(
              320deg,
              rgb(190, 214, 57) 0%,
              rgb(219, 248, 56) 50%
            );
            background: -o-linear-gradient(320deg, rgb(190, 214, 57) 0%, rgb(219, 248, 56) 50%);
            background: -ms-linear-gradient(320deg, rgb(190, 214, 57) 0%, rgb(219, 248, 56) 50%);
            background: linear-gradient(50deg, rgb(190, 214, 57) 0%, rgb(219, 248, 56) 50%);

            img {
              width: 40px;
              height: 40px;
              padding: 6px;
            }
          }
        }

        .media-right {
          display: table-cell;
          padding-left: 5px;

          .slider-right {
            display: table;
            width: 100%;
            table-layout: fixed;
          }

          .n-content {
            background-color: #f5f5f5;
            padding: 7px 10px;
            margin-bottom: 10px;
            display: inline-block;
            clear: both;

            p {
              margin: 0;
              font-size: 14px;
              font-family: "Roboto", sans-serif;
              font-weight: 400;
              line-height: 20px;
            }

            &:nth-child(odd) {
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
            }

            &:nth-child(even) {
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              border-bottom-left-radius: 10px;
            }
          }

          .m-option {
            .s-box {
              color: #222222;
              display: inline-block;
              border: 1px solid #bed639;
              border-radius: 10px;
              cursor: pointer;
              font-size: 13px;
              font-family: "Roboto", sans-serif;
              font-weight: 400;
              padding: 5px 8px;
              margin: 0 4px 10px 0;
              -webkit-transition: all 0.16s ease-in-out;
              -o-transition: all 0.16s ease-in-out;
              transition: all 0.16s ease-in-out;

              &:hover,
              &.active {
                background-color: #bed639;
                color: #fff;
              }
            }
          }

          .time {
            font-size: 10px;
            color: rgba(34, 34, 34, 0.42);
            font-weight: 400;
            margin-bottom: 10px;
            display: block;
            font-family: "Roboto", sans-serif;
          }
        }
      }

      .chatbox-sender {
        float: right;

        .s-content {
          background-color: #06badf;
          padding: 7px 10px;
          margin-bottom: 10px;
          clear: both;

          .text {
            color: #fff;
            margin: 0;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            line-height: 20px;
          }

          &:nth-child(odd) {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          &:nth-child(even) {
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
          }
        }

        .time {
          font-size: 10px;
          color: rgba(34, 34, 34, 0.42);
          font-weight: 400;
          margin-bottom: 10px;
          display: block;
          font-family: "Roboto", sans-serif;
          text-align: right;
        }
      }

      .reciever-load {
        background-color: #f5f5f5;
        padding: 7px 10px;
        margin-bottom: 10px;
        display: inline-block;
        clear: both;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100px;
        position: relative;
        z-index: 5;

        .load-dot {
          position: relative;
          display: inline-block;
          content: "";
          width: 6px;
          height: 6px;
          background-color: #06abcd;
          border-radius: 50%;
          opacity: 0;
          margin: 0 7px;
          animation: showHideDot 2.5s ease-in-out infinite;
          top: 0px;

          &.first {
            animation-delay: 0.2s;
          }

          &.second {
            animation-delay: 0.4s;
          }

          &.third {
            animation-delay: 0.6s;
          }

          &.fouth {
            animation-delay: 0.8s;
          }
        }
      }
    }

    .college-slider {
      .box {
        border: 1px solid #eaeaea;
        border-radius: 3px;
        padding: 20px;

        .top {
          .media-left {
            display: table-cell;
            border: 1px solid #eaeaea;
            height: 61px;
            padding: 0;
          }

          .media-right {
            display: table-cell;
            padding-left: 20px;
            vertical-align: middle;

            h3 {
              color: #222222;
              margin: 0;
              font-size: 15px;
              font-family: "Roboto", sans-serif;
              font-weight: 500;
              margin-bottom: 6px;
            }

            h6 {
              display: table-cell;
              vertical-align: middle;
              font-size: 12px;
              font-family: "Roboto", sans-serif;
              padding-right: 10px;
              margin: 0;
            }

            .star {
              display: table-cell;
              vertical-align: middle;

              i {
                color: #cecece;
              }

              .fa-star {
                color: #fedf00;
              }
            }
          }
        }

        .middle {
          padding: 15px 0;

          .common {
            display: inline-block;
            width: 86px;

            p {
              color: rgba(34, 34, 34, 0.81);
              font-size: 11px;
              font-family: "Roboto", sans-serif;
              margin-bottom: 6px;
            }

            h6 {
              color: #222222;
              font-size: 11px;
              font-family: "Roboto", sans-serif;
              margin: 0;
            }

            &:nth-child(1) {
              width: 122px;
            }
          }
        }

        .bottom {
          text-align: right;

          .btn {
            background-color: #06abcd;
            color: #fff;
            font-size: 11px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            margin-left: 16px;
          }
        }
      }
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
    margin-right: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bcd439;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bcd439;
  }

  .chatbox-chat {
    .form-group {
      margin: 0;
      position: relative;

      i {
        cursor: pointer;
        position: absolute;
        right: 18px;
        top: 16px;
        color: #bcd439;
        font-size: 20px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .form-control {
        background-color: #fff;
        height: 54px;
        box-shadow: none;
        border-radius: 0;
        border: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        font-size: 14px;
        color: #333333;
        padding: 6px 15px;
      }
    }
  }
}

.chatbox-popup {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  cursor: pointer;

  .circle {
    height: 94px;
    width: 94px;
    border-radius: 50%;
    background-color: #bcd439;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: -2px 4px 29px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: -2px 4px 29px 0px rgba(0, 0, 0, 0.07);
    box-shadow: -2px 4px 29px 0px rgba(0, 0, 0, 0.07);
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .chats-box {
    width: 292px;
    right: 0;
  }
}
