@-webkit-keyframes showHideDot {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes showHideDot {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.close {
  cursor: pointer;
}

.m-option .s-box {
  color: #222222;
  display: inline-block;
  border: 1px solid #0180fe;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 5px 8px;
  margin: 0 4px 10px 0;
  -webkit-transition: all 0.16s ease-in-out;
  -o-transition: all 0.16s ease-in-out;
  transition: all 0.16s ease-in-out;
}

.m-option .s-box:hover,
.m-option .s-box.active {
  background-color: #0180fe;
  outline: none;
  color: #fff;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.chats-box {
  z-index: 1;
  margin: 20px;
  margin-top: 50px;
  width: 400px;
  /* display: none; */
  position: fixed;
  right: 20px;
  bottom: 70px;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.chats-box .chatbox-top {
  padding-top: 12px;
  padding-bottom: 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #0180fe;
  line-height: 1.6;
}

.chats-box .chatbox-top .chatbox-profile {
  background: #0180fe;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 22px;
  padding-top: 5px;
  padding-bottom: 0px;
}

.chats-box .chatbox-top .g-left {
  float: left;
  width: 90%;
}

.chats-box .chatbox-top .g-left img {
  padding: 10px;
}

.chats-box .chatbox-top .g-left .media-left {
  display: table-cell;
  padding-right: 4px;
}

.chats-box .chatbox-top .g-left .media-left .g-circle {
  width: 68px;
  height: 68px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: white;
}

.chats-box .chatbox-top .g-left .media-right {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}

.chats-box .chatbox-top .g-left .media-right p {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 43px;
  color: #fff;
  margin: 0;
}

.chats-box .chatbox-top .g-left .media-right p span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.chats-box .chatbox-top .g-right {
  float: left;
  width: 10%;
}

.chats-box .chatbox-top .g-right .close {
  position: absolute;
  right: 26px;
  top: 16px;
  width: 16px;
  height: 16px;
  opacity: 1;
  text-shadow: none;
}

.chats-box .chatbox-top .g-right .close::before,
.chats-box .chatbox-top .g-right .close::after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 21px;
  width: 2px;
  background-color: #fff;
}

.chats-box .chatbox-top .g-right .close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chats-box .chatbox-top .g-right .close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.chats-box .chatbox-top .g-right p {
  text-align: right;
  margin: 0;
}

.chats-box .chatbox-top .g-right p a {
  text-decoration: none;
  color: #fff;
  line-height: 43px;
}

.chats-box .chatbox-top .g-right p i {
  color: #fff;
  font-size: 20px;
  position: relative;
  top: 5px;
}

.chats-box .chatbox-top .chatbox-offline {
  padding: 18px 22px 14px;
  padding-top: 0;
}

.chats-box .chatbox-top .chatbox-offline h3 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 12px;
}

.chats-box .chatbox-top .chatbox-offline h3 img {
  padding-left: 10px;
  vertical-align: text-bottom;
}

.chats-box .chatbox-top .chatbox-offline p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

.chats-box .chatbox-body {
  padding: 15px 18px;
  height: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.chats-box .chatbox-body .new-tile .box {
  padding: 15px 0;
  position: relative;
}

.chats-box .chatbox-body .new-tile .box .media-left {
  padding-right: 8px;
}

.chats-box .chatbox-body .new-tile .box .media-left .circle {
  background-color: #b7b8b8;
  border-radius: 50%;
  height: 53px;
  width: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.chats-box .chatbox-body .new-tile .box .media-right {
  vertical-align: middle;
  padding-left: 8px;
}

.chats-box .chatbox-body .new-tile .box .media-right p {
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.chats-box .chatbox-body .new-tile .box .media-right p span {
  font-size: 17px;
  font-weight: 500;
}

.chats-box .chatbox-body .new-tile .box::after {
  color: #b7b8b8;
  font: normal normal normal 16px/1 FontAwesome;
  content: '\f103';
  position: absolute;
  left: 22px;
  bottom: -8px;
}

.chats-box .chatbox-body .new-tile .box:last-child::after {
  display: none;
}

.chats-box .chatbox-body .chat-conversion .chat-reciever img {
  width: 15px;
  height: 15px;
}

.chats-box .chatbox-body .chat-conversion .chat-reciever .media-left {
  display: table-cell;
  padding-right: 5px;
}

.chats-box .chatbox-body .chat-conversion .chat-reciever .media-left .circle {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(190, 214, 57);
  background: -moz-linear-gradient(
    320deg,
    rgb(190, 214, 57) 0%,
    rgb(219, 248, 56) 50%
  );
  background: -webkit-linear-gradient(
    320deg,
    rgb(190, 214, 57) 0%,
    rgb(219, 248, 56) 50%
  );
  background: -o-linear-gradient(
    320deg,
    rgb(190, 214, 57) 0%,
    rgb(219, 248, 56) 50%
  );
  background: -ms-linear-gradient(
    320deg,
    rgb(190, 214, 57) 0%,
    rgb(219, 248, 56) 50%
  );
  background: linear-gradient(
    50deg,
    rgb(190, 214, 57) 0%,
    rgb(137, 138, 135) 50%
  );
}

.chats-box
  .chatbox-body
  .chat-conversion
  .chat-reciever
  .media-left
  .circle
  img {
  width: 40px;
  height: 40px;
  padding: 6px;
}

.chats-box .chatbox-body .chat-conversion .chat-reciever .media-right {
  display: table-cell;
  padding-left: 5px;
  max-width: 275px;
}

.chats-box
  .chatbox-body
  .chat-conversion
  .chat-reciever
  .media-right
  .n-content {
  max-width: 100%;
  background-color: #dfd4d4;
  padding: 7px 10px;
  margin-bottom: 10px;
  display: inline-block;
  clear: both;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.chats-box
  .chatbox-body
  .chat-conversion
  .chat-reciever
  .media-right
  .n-content
  p {
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.chats-box
  .chatbox-body
  .chat-conversion
  .chat-reciever
  .media-right
  .n-content:nth-child(odd) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chats-box
  .chatbox-body
  .chat-conversion
  .chat-reciever
  .media-right
  .n-content:nth-child(even) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chats-box
  .chatbox-body
  .chat-conversion
  .chat-reciever
  .media-right
  .m-option
  .s-box {
  color: #222222;
  display: inline-block;
  border: 1px solid #bed639;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 5px 8px;
  margin: 0 4px 10px 0;
  -webkit-transition: all 0.16s ease-in-out;
  transition: all 0.16s ease-in-out;
}

.chats-box
  .chatbox-body
  .chat-conversion
  .chat-reciever
  .media-right
  .m-option
  .s-box:hover,
.chats-box
  .chatbox-body
  .chat-conversion
  .chat-reciever
  .media-right
  .m-option
  .s-box.active {
  background-color: #bed639;
  color: #fff;
}

.chats-box .chatbox-body .chat-conversion .chat-reciever .media-right .time {
  font-size: 10px;
  color: rgba(34, 34, 34, 0.42);
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
  font-family: 'Roboto', sans-serif;
}

.chats-box .chatbox-body .chat-conversion .chatbox-sender {
  float: right;
  max-width: 100%;
}

.chats-box .chatbox-body .chat-conversion .chatbox-sender .s-content {
  background-color: #8c93f7;
  padding: 7px 10px;
  margin-bottom: 10px;
  clear: both;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.chats-box .chatbox-body .chat-conversion .chatbox-sender .s-content p {
  color: #fff;
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.chats-box
  .chatbox-body
  .chat-conversion
  .chatbox-sender
  .s-content:nth-child(odd) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chats-box
  .chatbox-body
  .chat-conversion
  .chatbox-sender
  .s-content:nth-child(even) {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chats-box .chatbox-body .chat-conversion .chatbox-sender .time {
  font-size: 10px;
  color: rgba(34, 34, 34, 0.42);
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

.chats-box .chatbox-body .chat-conversion .reciever-load {
  background-color: #000;
  padding: 7px 10px;
  margin-bottom: 10px;
  display: inline-block;
  clear: both;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100px;
  position: relative;
  z-index: 5;
}

.chats-box .chatbox-body .chat-conversion .reciever-load .load-dot {
  position: relative;
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  background-color: #06abcd;
  border-radius: 50%;
  opacity: 0;
  margin: 0 7px;
  -webkit-animation: showHideDot 2.5s ease-in-out infinite;
  animation: showHideDot 2.5s ease-in-out infinite;
  top: 0px;
}

.chats-box .chatbox-body .chat-conversion .reciever-load .load-dot.first {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.chats-box .chatbox-body .chat-conversion .reciever-load .load-dot.second {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.chats-box .chatbox-body .chat-conversion .reciever-load .load-dot.third {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.chats-box .chatbox-body .chat-conversion .reciever-load .load-dot.fourth {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.chats-box .chatbox-body .college-slider .box {
  border: 1px solid #eaeaea;
  border-radius: 3px;
  padding: 20px;
  width: 30%;
}

.chats-box .chatbox-body .college-slider .box .top .media-left {
  border: 1px solid #eaeaea;
  height: 61px;
  padding: 0;
}

.chats-box .chatbox-body .college-slider .box .top .media-right {
  padding-left: 20px;
  vertical-align: middle;
}

.chats-box .chatbox-body .college-slider .box .top .media-right h3 {
  color: #222222;
  margin: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 6px;
}

.chats-box .chatbox-body .college-slider .box .top .media-right h6 {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding-right: 10px;
  margin: 0;
}

.chats-box .chatbox-body .college-slider .box .top .media-right .star {
  display: table-cell;
  vertical-align: middle;
}

.chats-box .chatbox-body .college-slider .box .top .media-right .star i {
  color: #cecece;
}

.chats-box .chatbox-body .college-slider .box .top .media-right .star .fa-star {
  color: #fedf00;
}

.chats-box .chatbox-body .college-slider .box .middle {
  padding: 15px 0;
}

.chats-box .chatbox-body .college-slider .box .middle .common {
  display: inline-block;
  width: 86px;
}

.chats-box .chatbox-body .college-slider .box .middle .common p {
  color: rgba(34, 34, 34, 0.81);
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 6px;
}

.chats-box .chatbox-body .college-slider .box .middle .common h6 {
  color: #222222;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.chats-box .chatbox-body .college-slider .box .middle .common:nth-child(1) {
  width: 122px;
}

.chats-box .chatbox-body .college-slider .box .bottom {
  text-align: right;
}

.chats-box .chatbox-body .college-slider .box .bottom .btn {
  background-color: #06abcd;
  color: #fff;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 16px;
}

.chats-box ::-webkit-scrollbar {
  width: 6px;
  margin-right: 2px;
}

.chats-box ::-webkit-scrollbar-track {
  background: #fff;
}
.chatbox{
  scrollbar-color: #0180fe;
}
.chats-box ::-webkit-scrollbar-thumb {
  background: #0180fe;
}

.chats-box ::-webkit-scrollbar-thumb:hover {
  background: #0180fe;
}

.chats-box .chatbox-chat .form-group {
  margin: 0;
  position: relative;
  background-color: #fff;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow-y: auto;
}

.chats-box .chatbox-chat .form-group i {
  position: absolute;
  right: 18px;
  bottom: 12px;
  color: #0180fe;
  font-size: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chats-box .chatbox-chat .form-group .form-control {
  min-height: 40px;
  height: auto;
  max-height: 115px;

  width: calc(100% - 30px);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;

  font-size: 14px;
  color: #333333;
  padding: 5px 15px;
}

.chatbox-popup {
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 10;
  cursor: pointer;
}

.chatbox-popup .circle {
  height: 74px;
  width: 74px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: -2px 4px 29px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: -2px 4px 29px 0px rgba(0, 0, 0, 0.07);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media (max-width: 767px) and (min-width: 320px) {
  .chats-box {
    width: 292px;
    right: 0;
  }
}

/*# sourceMappingURL=chatsbot.css.map */ ;
