.paddy {
    padding-top: 50px;
    height: 10%;

}

.bg {
    padding-bottom: 20px;
}

.hi {
    height: 10%;
    padding-top: 20px;

}

.imgy {
    padding-bottom: 0px
}

.texty {
    font-weight: 500;
    font-size: 3em;
    padding-top: 0px;
    padding-left: 90px;
}